---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="sticky top-9 mt-10 flex items-center justify-between">

	<a href="#" class="font-main font-black text-3xl ">JNPR</a>

	<button id="nav-menu" class="group relative w-8 h-6">
		<span class="absolute w-4/6 h-[0.2rem] left-0 top-0 bg-dark dark:bg-light transition-transform group-[.is-open]:translate-y-3 group-[.is-open]:scale-0"></span>
		<span class="absolute w-full h-[0.2rem] left-0 top-1/2 -translate-y-1/2 bg-dark transition-transform dark:bg-light group-[.is-open]:rotate-45"></span>
		<span class="absolute w-full h-[0.2rem] left-0 top-1/2 -translate-y-1/2 bg-dark transition-transform dark:bg-light group-[.is-open]:-rotate-45"></span>
		<span class="absolute w-5/6 h-[0.2rem] left-0 bottom-0 bg-dark dark:bg-light transition-transform group-[.is-open]:-translate-y-3 group-[.is-open]:scale-0"></span>
	</button>

	<div class="fixed top-28 bottom-0 left-0 right-0 flex flex-col items-center bg-red-500/0">
		<hr class="w-10/12 border">
		<ul class="my-20 text-center font-medium text-3xl flex flex-col gap-7">
			<li>
				<a href="#">About</a>
			</li>
			<li>
				<a href="#">Projects</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
		</ul>
		<ThemeToggle />
	</div>

</nav>

<script>

const navMenu = document.getElementById("nav-menu") as HTMLButtonElement;

navMenu.onclick = () => {
	navMenu.classList.toggle("is-open");
}

</script>

