<main id="about" class="text-sm bg-light2 scroll-mt-28 dark:bg-dark2 sm:text-lg">
	<div class="mx-auto p-7 max-w-5xl flex flex-col justify-start gap-7 sm:p-12">
	  <h1 class="text-3xl sm:text-4xl md:text-5xl">About Me</h1>
	  <div class="p-4 border-2 border-dark dark:border-light md:p-8">
		  <p>Born in Cebu, Philippines</p>
		  <p>Now based in Toronto, Canada</p> <br>
		  <p>I am a software developer that loves to learn and has a passion for all things Computer Science.</p> <br>
		  <p>I enjoy working on both the front-end and back-end, so I specialize in Full-stack development.</p> <br>
		  <p>Graduated from Seneca Polytechnic with an Advanced Diploma on Computer Programming and Analysis.</p>
	  </div>
	</div>
</main>

