---
import Logo from "../components/Logo.astro";
---
<main id="contact" class="text-sm bg-light scroll-mt-28 dark:bg-dark sm:text-lg">
	<div class="max-w-5xl mx-auto p-7 flex flex-col justify-start gap-7 sm:p-12">
		<header class="text-3xl sm:text-4xl md:text-5xl">
			Get In Touch
		</header>

		<div class="w-full flex justify-center items-center gap-8 flex-col sm:p-12 p-4 border-2 border-dark dark:border-light md:p-8">
			<p class="max-w-md text-center cursor-default">
				If you have any questions or would just like to chat, my inbox 
				is always open
			</p>
			<a 
				href="mailto:johnpierremendoza@gmail.com"
				class="px-4 py-2 w-40 border-2 border-gray-900 flex justify-center items-center gap-2 bg-gray-400/50 text-dark hover:bg-gray-400/25 active:bg-gray-400/25 dark:border-gray-400 dark:text-light dark:hover:bg-gray-400/75 dark:active:bg-gray-400/75">
					Say Hello
			</a>
			<div class="flex gap-4">
				<a href="https://github.com/JonPeeAir" target="_blank">
					<Logo type="github" divClass="w-8" logoClass="dark:mix-blend-luminosity"/>	
				</a>

				<a href="https://www.linkedin.com/in/johnpierremendoza/" target="_blank">
					<Logo type="linkedin" divClass="w-8" logoClass="fill-dark dark:fill-light"/>	
				</a>
			</div>
		</div>

		<footer class="text-center opacity-50 cursor-default">
			Website Designed & Built by John Pierre Mendoza
		</footer>
	</div>
</main>

