<main id="education" class="text-sm bg-light2 scroll-mt-28 dark:bg-dark2">
	<div class="max-w-5xl mx-auto p-7 flex flex-col justify-start gap-7 sm:p-12">
		<h1 class="text-3xl sm:text-4xl md:text-5xl">Education</h1>	
		<div>
			<h2 class="text-lg sm:text-2xl">
				Advance Diploma
				<span class="text-[0.65rem] sm:text-sm">2022-2024 (expected)</span>
			</h2>
			<div class="p-3 border-2 border-dark dark:border-light sm:px-7 sm:py-5">
				<h3 class="text-sm mb-2 sm:text-xl">Seneca College</h3>
				<h4 class="text-xs sm:text-lg">Computer Programming and Analysis</h4>
				<ul class="text-xs list-disc pl-8 sm:text-lg">
					<li>President's Honour List</li>
				</ul>
			</div>
		</div>

		<div>
			<h2 class="text-lg sm:text-2xl">
				Highschool Diploma
				<span class="text-[0.65rem] sm:text-sm">2019-2021</span>
			</h2>
			<div class="p-3 border-2 border-dark dark:border-light sm:px-7 sm:py-5">
				<h3 class="text-sm mb-2 sm:text-xl">Colegio San Agustin - Makati</h3>
				<h4 class="text-xs sm:text-lg">STEM Track</h4>
				<ul class="text-xs list-disc pl-8 sm:text-lg">
					<li>Gold Eagle Awardee</li>
				</ul>
			</div>
		</div>

	</div>
</main>
