---
import DownloadIcon from '../components/svg/download-icon.astro';
---

<main id="home" class="text-sm bg-light scroll-mt-28 dark:bg-dark sm:text-lg">
	<div class="mx-auto p-7 pt-0 max-w-5xl flex flex-col justify-start gap-7 sm:gap-9 sm:p-12 sm:pt-0">
		<div class=" w-full p-7 flex flex-col gap-6 justify-center items-center border-2 border-dark dark:border-light sm:p-10 md:p-12">
			<img src="my-image.jpeg" alt="picture of john pierre mendoza" class="w-60 h-60 object-cover object-top mix-blend-luminosity sm:w-72 sm:h-72 md:w-96 md:h-96">
			<div class="md:mb-9">
				<h1 class="text-3xl sm:text-4xl sm:mb-2 md:text-5xl md:mb-5">John Pierre.</h1>
				<p class="">Software Developer, <span class="whitespace-nowrap">Full Stack</span></p>
			</div>
			<div class="w-full flex flex-wrap justify-center gap-4 md:gap-12">
				<a href="resume.pdf" download target="_blank" 
					class="px-4 py-2 w-40 border-2 border-gray-900 flex justify-center items-center gap-2 bg-gray-400/50 text-dark hover:bg-gray-400/25 active:bg-gray-400/25 dark:border-gray-400 dark:text-light dark:hover:bg-gray-400/75 dark:active:bg-gray-400/75">
				  <DownloadIcon />
					Resume
				</a>
				<a href="#contact" 
					class="px-4 py-2 w-40 border-2 border-gray-900 flex justify-center items-center gap-2 bg-gray-400/50 text-dark hover:bg-gray-400/25 active:bg-gray-400/25 dark:border-gray-400 dark:text-light dark:hover:bg-gray-400/75 dark:active:bg-gray-400/75">
					Contact
				</a>

			</div>
			<p class="animate-bounce">&darr;</p>
		</div>
	</div>
</main>

