<main id="academic-honesty" class="text-sm bg-light dark:bg-dark sm:text-lg">
	<div class="max-w-5xl mx-auto p-7 flex flex-col justify-start gap-7 sm:p-12">
		<h1 class="text-3xl sm:text-4xl md:text-5xl">Academic Honesty</h1>
		<div class="p-4 border-2 border-dark dark:border-light md:p-8">
			<p>I declare that my assessment is wholly my own work in accordance with Seneca Academic Policy.</p> <br>
			<p>No part of this assessment has been copied manually or electronically from any other source (including web sites) except for the information supplied by the WEB222 instructors and / or made available in this assessment for my use.</p> <br>
			<p>I also declare that no part of this assignment has been distributed to other students.</p> <br>
			<p class="text-right">DATE: December 4, 2022</p>
		</div>
	</div>
</main>

