<main id="basic-information" class="text-sm bg-light dark:bg-dark sm:text-lg">
	<div class="max-w-5xl mx-auto p-7 flex flex-col justify-start gap-7 sm:p-12">
		<h1 class="text-3xl sm:text-4xl md:text-5xl">Basic Information</h1>	
		<div>
			<p>AGE:</p>
			<p class="mb-1 text-right">20</p>
			<hr class="border-t-2 border-dark dark:border-light"/>
		</div>
		<div>
			<p>EMAIL:</p>
			<p class="mb-1 text-right">jmendoza23@myseneca.ca</p>
			<hr class="border-t-2 border-dark dark:border-light"/>
		</div>
		<div>
			<p>LANGUAGE(S):</p>
			<p class="mb-1 text-right">English</p>
			<hr class="border-t-2 border-dark dark:border-light"/>
		</div>
		<div>
			<p>CLASS SECTION:</p>
			<p class="mb-1 text-right">ZEE</p>
			<hr class="border-t-2 border-dark dark:border-light"/>
		</div>
		<div>
			<p>STUDENT ID:</p>
			<p class="mb-1 text-right">171644214</p>
			<hr class="border-t-2 border-dark dark:border-light"/>
		</div>
		<div>
			<p>INSTRUCTOR:</p>
			<p class="mb-1 text-right">Mohammad Shamas</p>
			<hr class="border-t-2 border-dark dark:border-light"/>
		</div>
	</div>
</main>
