---
import SkillsLogo from '../components/SkillsLogo.astro';
---

<main id="skills" class=" text-sm bg-light dark:bg-dark">
	<div class="max-w-5xl mx-auto p-7 flex flex-col justify-start gap-9 sm:p-12 sm:gap-12 md:gap-16">
		<h1 class="text-3xl sm:text-4xl md:text-5xl">Skills</h1>	

		<div class="flex flex-col gap-7">
			<h2 class="text-2xl text-center sm:text-4xl">Languages</h2>
			<div class="flex flex-wrap justify-center items-center gap-4">
				<SkillsLogo type="html" label="HTML"/>
				<SkillsLogo type="css" label="CSS"/>
				<SkillsLogo type="js" label="Javascript"/>
				<SkillsLogo type="c" label="C"/>
				<SkillsLogo type="cpp" label="C++"/>
				<SkillsLogo type="python" label="Python"/>
			</div>
		</div>

		<div class="flex flex-col gap-7">
			<h2 class="text-2xl text-center sm:text-4xl">Tools and Frameworks</h2>
			<div class="flex flex-wrap justify-center items-center gap-4">
				<SkillsLogo type="git" label="Git"/>
				<SkillsLogo type="github" label="GitHub"/>
				<SkillsLogo type="firebase" label="Firebase"/>
				<SkillsLogo type="node" label="NodeJS"/>
				<SkillsLogo type="react" label="React"/>
				<SkillsLogo type="astro" label="Astro"/>
				<SkillsLogo type="tailwind" label="Tailwind CSS"/>
				<SkillsLogo type="bootstrap" label="Bootstrap"/>
			</div>
		</div>

		<div class="flex flex-col gap-7">
			<h2 class="text-2xl text-center sm:text-4xl">Currently Learning</h2>
			<div class="flex flex-wrap justify-center items-center gap-4">
				<SkillsLogo type="oracle" label="Oracle Sql"/>
				<SkillsLogo type="mongodb" label="Mongo DB"/>
				<SkillsLogo type="aws" label="AWS"/>
				<SkillsLogo type="azure" label="Azure"/>
			</div>
		</div>

	</div>
</main>

