---
import WorkCard from "../components/WorkCard.astro";
---
<main id="work" class="text-sm bg-light2 scroll-mt-28 dark:bg-dark2 sm:text-lg">
	<div class="mx-auto p-7 max-w-5xl flex flex-col justify-start gap-7 sm:p-12">
	  <h1 class="text-3xl sm:text-4xl md:text-5xl">Work Experience</h1>

    <WorkCard
      imgSrc="par-logo.png"
      imgAlt="PAR Logo"
      title="Software Engineer"
      company="PAR Technology"
      date="Jan 2024 - Apr 2024"
      tags="Angular, TailwindCSS, Java, Hibernate, Dropwizard, MySQL"
    >
      <li>Developed and maintained the web app cloud companion of PixelPoint POS – PixelPointHQ – using Angular, TailwindCSS, Java, Hibernate, and Dropwizard, following Agile methodology</li>
      <li>Developed the frontend for a new feature in PixelPointHQ called “price change” allowing 10k+ restaurant owners to effortlessly update item prices on all their POS systems through the web app</li>
      <li>Led the TypeScript adoption in the frontend codebase, reducing bugs and improving maintainability</li>
      <li>Reduced AWS cloud costs by 10% by identifying and eliminating useless debug logs in production</li>
      <li>Resolved 20+ bugs, enhancing application stability and user experience</li>
    </WorkCard>


    <WorkCard
      imgSrc="par-logo.png"
      imgAlt="PAR Logo"
      title="QA Automation Engineer"
      company="PAR Technology"
      date="May 2023 - Dec 2023"
      tags="Test Complete, Selenium, .NET, Jenkins"
    >
      <li>Manually executed and evaluated test cases, fully documenting unexpected anomalies and defects with instructions on how to reproduce each</li>
      <li>Automated 100+ manual test cases using Test Complete, Selenium (.NET), and PowerShell, reducing the manual test case backlog by 70%</li>
      <li>Introduced the practice of test log highlighting in scripts to the automation team, making it easier to identify where tests fail, resulting in 20% faster regression run analyses</li>
    </WorkCard>


	</div>
</main>

